<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head :: head('회원정보 수정')}"></head>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<section class="signup-page">
    <div class="signup-card">
        <div class="signup-title-wrap">
            <h2 class="signup-title">회원정보 수정</h2>
            <p class="signup-subtitle">회원님의 정보를 수정해보세요.</p>
        </div>

        <div th:if="${errorMessage}" class="form-error" th:text="${errorMessage}"></div>

        <form th:action="@{/members/edit}" th:object="${memberUpdateDto}" method="post" class="signup-form">
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" id="name" th:field="*{name}" placeholder="이름을 입력하세요">
                <div class="field-error" th:errors="*{name}"></div>
            </div>

            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email"
                       id="email"
                       th:field="*{email}"
                       placeholder="이메일을 입력하세요"
                       readonly
                       class="readonly-input">
                <div class="field-error" th:errors="*{email}"></div>
            </div>

            <div class="form-group">
                <label for="phone">전화번호</label>
                <input type="text" id="phone" th:field="*{phone}" placeholder="'-' 없이 입력하세요">
                <div class="field-error" th:errors="*{phone}"></div>
            </div>
            <div class="edit-btn-group">
                <button type="submit" class="signup-btn">
                    수정 완료
                </button>
                <a th:href="@{/members/password}" class="password-btn">
                    비밀번호 변경
                </a>

            </div>
        </form>
    </div>
</section>

</body>
</html>