<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head :: head('로그인')}"></head>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<section class="signup-page">
    <div class="signup-card">

        <h2 class="signup-title">비밀번호 변경</h2>

        <div th:if="${errorMessage}" th:text="${errorMessage}" class="form-error"></div>

        <form th:action="@{/members/password}" th:object="${passwordDto}" method="post">

            <div class="form-group">
                <label>현재 비밀번호</label>
                <input type="password" th:field="*{currentPassword}">
            </div>

            <div class="form-group">
                <label>새 비밀번호</label>
                <input type="password" th:field="*{newPassword}">
            </div>
            <div class="form-group">
                <label>새 비밀번호 확인</label>
                <input type="password" th:field="*{confirmPassword}">
            </div>

            <div class="password-btn-group">

                <button type="submit" class="signup-btn">
                    비밀번호 변경
                </button>

                <a th:href="@{/members/mypage}" class="cancel-btn">
                    취소
                </a>

            </div>

        </form>

    </div>
</section>